# === FOLDERS TO IGNORE ===
backup/
env/

# === SPECIFIC FILES TO IGNORE === 
Coderingstool
Features.xlsx
Technical description.docx

# === IGNORE EVERYTHING IN data/, EXCEPT .sav FILES ===
data/*
data/**/
!data/*.sav

# === PYTHON CACHE FILES ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python