# === FOLDERS TO IGNORE ===
BERTopic/
data/
data/cache/
data/exports/
backup/
env/
hunspell/
src/utils/old/
__pycache__/

# === SPECIFIC FILES TO IGNORE === 
Coderingstool
Features.xlsx
Technical description.docx

# === MODEL / CACHE FILES ===
*.pkl
*.joblib
*.npy
*.npz
*.pt
*.h5

# === PYTHON BYTECODE FILES ===
*.pyc
*.pyo
*.pyd

# === JUPYTER NOTEBOOK CHECKPOINTS ===
.ipynb_checkpoints/


# === playwright CHECKPOINTS ===
.playwright-mcp/

# === MISC ===
.Python
claude-edits.zip
.claude/
